<div class="container">
  <nav class="navbar navbar-expand-custom navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Yásè</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/views/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/views/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
