<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-custom navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Yásè</a>
        </div>
      </nav>
    </header>
    <main class="container">
      <form class="mt-5 mx-auto w-80" action="/views/login" method="POST">
        <h4>Login</h4>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Input email here"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Input password here"
          />
          <div id="emailHelp" class="form-text">
            Your password is secured with encryption.
          </div>
        </div>
        <% if (locals.error) { %>
        <p class="text-danger"><%= error %></p>
        <% } %>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </main>
    <footer><%- include("partials/footer.ejs") %></footer>
  </body>
</html>
